{
  "swagger": "2.0",
  "info": {
    "title": "Delegated Microsoft Graph",
    "description": "use MS Graph endpoints with delegated permissions",
    "version": "1.004"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/me/": {},
    "/v1.0/me": {},
    "/v1.0/me/onlineMeetings/MSoxYmU2Mjc4NS05NmJhLTQ3NzMtODk0MC1lMDBlZGJjZjNlZmIqMCoqMTk6bWVldGluZ19OVFUwWlRVeFptTXRZekV3TmkwME5EazBMVGc1Wm1ZdFpqQXlOalEzTlRJek5XWmlAdGhyZWFkLnYy/attendanceReports/a368b632-0f49-49ca-98fa-16edd583f6dd": {},
    "/v1.0/me/onlineMeetings": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a Teams meeting ID",
        "description": "Use a filter condition to look up the Teams meeting ID",
        "operationId": "GetTeamsMeetingId",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/me/onlineMeetings/MSoxYmU2Mjc4NS05NmJhLTQ3NzMtODk0MC1lMDBlZGJjZjNlZmIqMCoqMTk6bWVldGluZ19OVFUwWlRVeFptTXRZekV3TmkwME5EazBMVGc1Wm1ZdFpqQXlOalEzTlRJek5XWmlAdGhyZWFkLnYy/attendanceReports": {},
    "/v1.0/me/onlineMeetings/{meetingid}/attendanceReports": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "totalParticipantCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "totalParticipantCount"
                      },
                      "meetingStartDateTime": {
                        "type": "string",
                        "description": "meetingStartDateTime"
                      },
                      "meetingEndDateTime": {
                        "type": "string",
                        "description": "meetingEndDateTime"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Teams attendance reports",
        "description": "List the attendance reports for a Teams meeting",
        "operationId": "ListAttendanceReports",
        "parameters": [
          {
            "name": "meetingid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/me/onlineMeetings/{meetingid}/attendanceReports/{reportid}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "totalParticipantCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalParticipantCount"
                },
                "meetingStartDateTime": {
                  "type": "string",
                  "description": "meetingStartDateTime"
                },
                "meetingEndDateTime": {
                  "type": "string",
                  "description": "meetingEndDateTime"
                },
                "attendanceRecords@odata.context": {
                  "type": "string",
                  "description": "attendanceRecords@odata.context"
                },
                "attendanceRecords": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      },
                      "totalAttendanceInSeconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "totalAttendanceInSeconds"
                      },
                      "role": {
                        "type": "string",
                        "description": "role"
                      },
                      "identity": {
                        "type": "object",
                        "properties": {
                          "@odata.type": {
                            "type": "string",
                            "description": "@odata.type"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "displayName"
                          },
                          "tenantId": {
                            "type": "string",
                            "description": "tenantId"
                          }
                        },
                        "description": "identity"
                      },
                      "attendanceIntervals": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "joinDateTime": {
                              "type": "string",
                              "description": "joinDateTime"
                            },
                            "leaveDateTime": {
                              "type": "string",
                              "description": "leaveDateTime"
                            },
                            "durationInSeconds": {
                              "type": "integer",
                              "format": "int32",
                              "description": "durationInSeconds"
                            }
                          }
                        },
                        "description": "attendanceIntervals"
                      }
                    }
                  },
                  "description": "attendanceRecords"
                }
              }
            }
          }
        },
        "summary": "Get a Teams attendance record",
        "description": "Retrieve the list of attendees for a Teams meeting",
        "operationId": "GetAttendanceRecord",
        "parameters": [
          {
            "name": "meetingid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/solutions/bookingBusinesses/{bookingsid}@Victor12.onmicrosoft.com/customers": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "@odata.type"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      },
                      "lastUpdatedDateTime": {
                        "type": "string",
                        "description": "lastUpdatedDateTime"
                      },
                      "addresses": {
                        "type": "array",
                        "items": {},
                        "description": "addresses"
                      },
                      "phones": {
                        "type": "array",
                        "items": {},
                        "description": "phones"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get a Bookings customer list",
        "operationId": "GetBookingsCustomerList",
        "description": "get the list of customers for a Bookings account",
        "parameters": [
          {
            "name": "bookingsid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v1.0/solutions/bookingBusinesses/ELITEProgram1@Victor12.onmicrosoft.com/appointments/AAMkADAwYWRmYzFkLTM1OWItNDliNi05ZmNhLTkzYWVkNDhiNjFhNQBGAAAAAACveNm3YtcgSprlwLBaQub7BwDuw9JbOjCSS6u7BBM8gcDVAAAAAAENAADuw9JbOjCSS6u7BBM8gcDVAAAQT2aNAAA=": {},
    "/v1.0/solutions/bookingBusinesses/{bookingsid}@Victor12.onmicrosoft.com/appointments/{bookingseventid}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "selfServiceAppointmentId": {
                  "type": "string",
                  "description": "selfServiceAppointmentId"
                },
                "additionalInformation": {
                  "type": "string",
                  "description": "additionalInformation"
                },
                "isLocationOnline": {
                  "type": "boolean",
                  "description": "isLocationOnline"
                },
                "joinWebUrl": {
                  "type": "string",
                  "description": "joinWebUrl"
                },
                "customerName": {
                  "type": "string",
                  "description": "customerName"
                },
                "customerEmailAddress": {
                  "type": "string",
                  "description": "customerEmailAddress"
                },
                "customerPhone": {
                  "type": "string",
                  "description": "customerPhone"
                },
                "customerTimeZone": {
                  "type": "string",
                  "description": "customerTimeZone"
                },
                "customerNotes": {
                  "type": "string",
                  "description": "customerNotes"
                },
                "serviceId": {
                  "type": "string",
                  "description": "serviceId"
                },
                "serviceName": {
                  "type": "string",
                  "description": "serviceName"
                },
                "duration": {
                  "type": "string",
                  "description": "duration"
                },
                "preBuffer": {
                  "type": "string",
                  "description": "preBuffer"
                },
                "postBuffer": {
                  "type": "string",
                  "description": "postBuffer"
                },
                "priceType": {
                  "type": "string",
                  "description": "priceType"
                },
                "price": {
                  "type": "integer",
                  "format": "int32",
                  "description": "price"
                },
                "serviceNotes": {
                  "type": "string",
                  "description": "serviceNotes"
                },
                "optOutOfCustomerEmail": {
                  "type": "boolean",
                  "description": "optOutOfCustomerEmail"
                },
                "staffMemberIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "staffMemberIds"
                },
                "smsNotificationsEnabled": {
                  "type": "boolean",
                  "description": "smsNotificationsEnabled"
                },
                "anonymousJoinWebUrl": {
                  "type": "string",
                  "description": "anonymousJoinWebUrl"
                },
                "maximumAttendeesCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "maximumAttendeesCount"
                },
                "filledAttendeesCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "filledAttendeesCount"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "createdDateTime"
                },
                "lastUpdatedDateTime": {
                  "type": "string",
                  "description": "lastUpdatedDateTime"
                },
                "isCustomerAllowedToManageBooking": {
                  "type": "boolean",
                  "description": "isCustomerAllowedToManageBooking"
                },
                "appointmentLabel": {
                  "type": "string",
                  "description": "appointmentLabel"
                },
                "startDateTime": {
                  "type": "object",
                  "properties": {
                    "dateTime": {
                      "type": "string",
                      "description": "dateTime"
                    },
                    "timeZone": {
                      "type": "string",
                      "description": "timeZone"
                    }
                  },
                  "description": "startDateTime"
                },
                "endDateTime": {
                  "type": "object",
                  "properties": {
                    "dateTime": {
                      "type": "string",
                      "description": "dateTime"
                    },
                    "timeZone": {
                      "type": "string",
                      "description": "timeZone"
                    }
                  },
                  "description": "endDateTime"
                },
                "serviceLocation": {
                  "type": "object",
                  "properties": {
                    "displayName": {
                      "type": "string",
                      "description": "displayName"
                    },
                    "locationEmailAddress": {
                      "type": "string",
                      "description": "locationEmailAddress"
                    },
                    "locationUri": {
                      "type": "string",
                      "description": "locationUri"
                    },
                    "locationType": {
                      "type": "string",
                      "description": "locationType"
                    },
                    "uniqueId": {
                      "type": "string",
                      "description": "uniqueId"
                    },
                    "uniqueIdType": {
                      "type": "string",
                      "description": "uniqueIdType"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street": {
                          "type": "string",
                          "description": "street"
                        },
                        "city": {
                          "type": "string",
                          "description": "city"
                        },
                        "state": {
                          "type": "string",
                          "description": "state"
                        },
                        "countryOrRegion": {
                          "type": "string",
                          "description": "countryOrRegion"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "postalCode"
                        }
                      },
                      "description": "address"
                    },
                    "coordinates": {
                      "type": "object",
                      "properties": {
                        "altitude": {
                          "type": "integer",
                          "format": "int32",
                          "description": "altitude"
                        },
                        "latitude": {
                          "type": "integer",
                          "format": "int32",
                          "description": "latitude"
                        },
                        "longitude": {
                          "type": "integer",
                          "format": "int32",
                          "description": "longitude"
                        },
                        "accuracy": {
                          "type": "integer",
                          "format": "int32",
                          "description": "accuracy"
                        },
                        "altitudeAccuracy": {
                          "type": "integer",
                          "format": "int32",
                          "description": "altitudeAccuracy"
                        }
                      },
                      "description": "coordinates"
                    }
                  },
                  "description": "serviceLocation"
                },
                "reminders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "offset": {
                        "type": "string",
                        "description": "offset"
                      },
                      "recipients": {
                        "type": "string",
                        "description": "recipients"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "reminders"
                },
                "customers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "@odata.type"
                      },
                      "customerId": {
                        "type": "string",
                        "description": "customerId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone"
                      },
                      "timeZone": {
                        "type": "string",
                        "description": "timeZone"
                      },
                      "notes": {
                        "type": "string",
                        "description": "notes"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "displayName"
                          },
                          "locationEmailAddress": {
                            "type": "string",
                            "description": "locationEmailAddress"
                          },
                          "locationUri": {
                            "type": "string",
                            "description": "locationUri"
                          },
                          "locationType": {
                            "type": "string",
                            "description": "locationType"
                          },
                          "uniqueId": {
                            "type": "string",
                            "description": "uniqueId"
                          },
                          "uniqueIdType": {
                            "type": "string",
                            "description": "uniqueIdType"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "street": {
                                "type": "string",
                                "description": "street"
                              },
                              "city": {
                                "type": "string",
                                "description": "city"
                              },
                              "state": {
                                "type": "string",
                                "description": "state"
                              },
                              "countryOrRegion": {
                                "type": "string",
                                "description": "countryOrRegion"
                              },
                              "postalCode": {
                                "type": "string",
                                "description": "postalCode"
                              }
                            },
                            "description": "address"
                          },
                          "coordinates": {
                            "type": "object",
                            "properties": {
                              "altitude": {
                                "type": "integer",
                                "format": "int32",
                                "description": "altitude"
                              },
                              "latitude": {
                                "type": "integer",
                                "format": "int32",
                                "description": "latitude"
                              },
                              "longitude": {
                                "type": "integer",
                                "format": "int32",
                                "description": "longitude"
                              },
                              "accuracy": {
                                "type": "integer",
                                "format": "int32",
                                "description": "accuracy"
                              },
                              "altitudeAccuracy": {
                                "type": "integer",
                                "format": "int32",
                                "description": "altitudeAccuracy"
                              }
                            },
                            "description": "coordinates"
                          }
                        },
                        "description": "location"
                      },
                      "customQuestionAnswers": {
                        "type": "array",
                        "items": {},
                        "description": "customQuestionAnswers"
                      }
                    }
                  },
                  "description": "customers"
                }
              }
            }
          }
        },
        "summary": "Get Bookings appointment",
        "description": "Get information for a Bookings appointment",
        "operationId": "GetBookingsAppointment",
        "parameters": [
          {
            "name": "bookingsid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bookingseventid",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Set customers for Bookings appointment",
        "description": "Set the customer list for an existing Bookings appointment",
        "operationId": "SetBookingAppointmentCustomers",
        "parameters": [
          {
            "name": "bookingsid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "bookingseventid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "@odata.type": {
                  "type": "string",
                  "description": "@odata.type"
                },
                "customers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "@odata.type"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      }
                    }
                  },
                  "description": "customers"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {},
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize"
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": []
}